@import "../../../data/style.css";

.footer {
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    
    padding-top: calc(var(--spacing) * 12);
    margin-top: calc(var(--spacing) * 24);
    justify-content: flex-start;
    align-items: flex-end;
    background-color: transparent;
    z-index: 999;
}

.footer-contents {
    /* position: absolute; */
    bottom: 0;
    left: 0;
}

.footer p {
    margin: 0;
    padding: 0;
    align-self: flex-end;
    font-size: clamp(5rem, 25vw, 30rem);
    color: rgba(194, 201, 219, 0.4);
    z-index: 1;
}