@import "../../../data/style.css";

.webflow-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.webflow-input-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 60vw;
    border-radius: 999px;
    border: 1px solid;
    border-color: rgba(171, 189, 252, 0.1);
    color: var(--quaternary-color);
    padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
    background: rgba(57, 63, 84, 0.3);
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
    transition: background 0.3s ease;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.webflow-input-wrapper:hover {
    background: rgba(171, 189, 252, 0.3);
}

.webflow-input {
    flex: 1;
    font-size: 1rem;
    font-family: var(--primary-font);
    color: var(--quaternary-color);
    background: transparent;
    border: none;
    outline: none;
}

.webflow-input::placeholder {
    color: var(--quaternary-color);
}

.webflow-button {
    font-family: var(--primary-font);
    font-size: clamp(0.5rem, 3vw, 1rem);
    color: var(--quaternary-color);
    background: rgba(197, 197, 199, 0.4);
    border: 2px solid;
    border-color: rgba(200, 200, 200, 0.2);
    border-radius: 999px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    padding: calc(var(--spacing) * 2) calc(var(--spacing) * 8);
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: color 0.25s, transform 0.3s ease;
    white-space: nowrap
}

.webflow-button:hover {
    color: #333;
    transform: translateY(-3px);
}

.webflow-underline {
    content: "";
    position: absolute;
    left: 6%;
    right: 6%;
    bottom: 0;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background: linear-gradient(to right,
            #dbddd4,
            #fbfcc9,
            #f7ecec,
            #D1DAE0,
            #bcc7c7,
            #d2ddd4);
    background-size: 500% auto;
    animation: webflow-gradient 3s linear infinite;
}

@keyframes webflow-gradient {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0;
    }
}

@media (max-width: 480px) {
    .webflow-input-wrapper {
        padding: 0.8rem 1rem;
    }

    .webflow-button {
        padding-left: 0.5rem;
    }
}