@import "../../data/style.css";

.page-content {
	background: var(--background-color);
	/* background: transparent; */
	min-height: 100%;
	z-index: -1;
	overflow: hidden;
	font-family: 'Aspekta', ui-sans-serif, system-ui, sans-serif;
}

.homepage-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
}

.homepage-logo-container {
	position: absolute;
	top: 10vh;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
}

.homepage-cover {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	width: 100%;
	padding: 2rem;
	box-sizing: border-box;
	z-index: 1;
}

.homepage-cover-title-container {
	/* position: relative; */
	text-align: center;
	color: var(--quinary-color);
}

.homepage-cover-title-container h1 {
	margin: 0 auto;
	margin-block: calc(var(--spacing) * 10);
	font-size: var(--text-5xl);
}

.homepage-cover-title-container h2 {
	margin-block: calc(var(--spacing) * 10);
	font-size: var(--text-1xl);
}

.homepage-buttons-container {
	margin-block: calc(var(--spacing) * 10);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.button-talk-to-sales {
	height: calc(var(--spacing) * 12);
	border-radius: .8rem;
	border: 1px solid rgba(255, 255, 255, 0.15);
	padding-inline: calc(var(--spacing) * 8);
	font-family: var(--primary-font);
	font-size: 1rem;
	font-weight: 500;
	background-color: var(--primary-color);
	color: var(--quinary-color);
	align-items: center;
	cursor: pointer;
}

.button-talk-to-sales:hover {
	background-color: var(--link-color);
}

.watch-our-demos {
	display: flex;
	align-items: center;
	justify-content:space-between;
	height: calc(var(--spacing) * 12);
	padding-inline: calc(var(--spacing) * 4);
	gap: calc(var(--spacing) * 4);
	border-radius: .8rem;

	font-family: var(--primary-font);
	font-size: 1rem;
	font-weight: 500;
	color: var(--quinary-color);
	text-decoration: none;
	cursor: pointer;
}

.watch-our-demos:hover {
	background-color: rgba(242, 105, 92, 0.3);
}

.watch-our-demos img {
	height: calc(var(--spacing) * 8);
	width: auto;
	display: block;
}

/* ------- section one ------- */
.homepage-section-one {
	width: 100%;
	padding: calc(var(--spacing)*8) calc(var(--spacing)*32);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	position: relative;
}

/* ------- cards ------- */
.homepage-cards-container {
	width: 100%;
	padding: calc(var(--spacing) * 4);
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-between;
	box-sizing: border-box;
	gap: calc(var(--spacing) * 4);
	background-color: transparent;
	position: relative;
	z-index: 1;
}

.homepage-cards {
	flex: 1 1 calc(33.333% - calc(var(--spacing) * 4));
	min-width: 260px;
	height: clamp(350px, 70vh, 700px);
	padding: calc(var(--spacing)*8);
	box-sizing: border-box;

	background-color: rgba(150, 150, 150, 0.2);
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 2rem;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	transition: transform 0.3s ease;
	color: var(--quinary-color);
}

.card-title {
	font-weight: bolder;
	font-size: 36px;
	margin: calc(var(--spacing) * 4) 0;
}

.card-article {
	font-size: 20px;
	font-weight: normal;
	margin: calc(var(--spacing) * 4) 0;
}

.homepage-cards:hover {
	transform: translateY(-6px);
}